<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block <%="#{class_img}"%>"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4"><%="#{form_name} Professor"%></h1>
                </div>

                <!-- Form rails -->

                <%= form_with(model: [:admins_backoffice, @user], local: true, :class =>"user") do |form| %>
                  <div class="form-group">
                    <%= form.label :name, :class =>"offset-1" %>
                    <%= form.text_field :name, :class=> "form-control form-control-user", placeholder:"Digite o nome" %>
                  </div>
                  <div class="form-group">
                    <%= form.label :email, :class =>"offset-1" %>
                    <%= form.text_field :email, :class=> "form-control form-control-user", placeholder:"Digite o email" %>
                  </div>
                  <div class="form-group">
                    <%= form.label :password, :class =>"offset-1" %>
                    <%= form.password_field :password, :class=> "form-control form-control-user", placeholder:"Digite a senha" %>
                  </div>
                  <div class="form-group">
                    <%= form.label :password_confirmation, :class =>"offset-1" %>
                    <%= form.password_field :password_confirmation, :class=> "form-control form-control-user", placeholder:"Digite a confirmação da senha" %>
                  </div>

                  <!-- Alert errors -->
                  <%  if @user.errors.any? %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      <strong>Algo de errado aconteceu!</strong>
                      <ul>
                        <% @user.errors.full_messages.each do |message| %>
                          <li> <%= message %> </li>
                        <% end %>
                      </ul>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  <% end %>
                  <button type="submit" class="btn btn-primary btn-user btn-block">Salvar</button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
