
<div class="container my-4">
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row justify-content-between">
      <h4 class="m-0 font-weight-bold text-primary">
        Aula de <%= @classroom.subject.name %>
      </h4>
      <span class="session-destroy btn text-danger">Nao é voce?  Sair <i class="fa fa-times "></i></span>
    </div>

    <!-- Card Body -->
    <br>
    <div class="card-body">
      <% if session[:student].present? %>
        <p> Olá <span class="text-primary"><%= session[:student]['name']%></span>, seja bem-vindo</p>
      <% end %>
      <form action="<%= site_create_answer_occurrence_path %>" method="post" accept-charset="UTF-8">
        <%= hidden_field_tag 'authenticity_token' %>
        <%= hidden_field_tag 'answer_occurrence[class_occurrence_id]', @classroom.class_occurrences.last.id %>
        <%= hidden_field_tag 'answer_occurrence[question_id]', @classroom.class_occurrences.last.question_id %>
        <%= hidden_field_tag 'answer_occurrence[student_id]', session[:student]['id'] %>

        <p class="font-weight-bold lead"><%= @classroom.class_occurrences.last.question.description %></p>
        <br>
        <% @classroom.class_occurrences.last.question.answers.each do |answer| %>
          <ul>
            <label class="radio">
              <%= radio_button_tag 'answer_occurrence[answer_id]', answer.id %>
              <%= answer.description %>
            </label>
          </ul>   
        <% end %>  
        <center> <button type="submit" class="btn btn-primary">Responder</button> </center>
      
      </form>
    </div>
  </div>
</div>

<%= render partial: 'identification_modal'%>

